<div class="row">
  <div class="col-lg-5 col-md-6 col-sm-6 block">
    <div class="hd-form-container">
      <h1>Kelime Sorusu</h1>
      <p>Bu form üzerinden kelime çalışması yapabilirsin.</p>
      <div class="hd-form-container-in">
        <form [formGroup]="soruForm" (ngSubmit)="onSubmitSoru()">
          <div class="hd-input-text-container">
            <input id="frmSoruEnglish" class="hd-input-text" type="text" formControlName="english" />
            <div class="hd-input-text-placeholder">English</div>
          </div>
          <br />

          <div class="hd-input-text-container">
            <input id="frmSoruTurkish" class="hd-input-text" type="text" formControlName="turkish" />
            <div class="hd-input-text-placeholder">Turkish</div>
          </div>
          <br />

          <div class="hd-button-container" style="float: right">
            <button type="submit" class="hd-button-colored">Tamam</button>
          </div>
          <br />
        </form>
      </div>
    </div>
    <br />

    <div class="hd-form-container">
      <h1>Kelime Ekleme</h1>
      <p>Bu form üzerinden programa kelime eklemesi yapabilirsiniz.</p>
      <div class="hd-form-container-in">
        <form [formGroup]="ekleForm" (ngSubmit)="onSubmitEkle()">
          <div class="hd-input-text-container">
            <input id="frmEkleEnglish" class="hd-input-text" type="text" formControlName="english" />
            <div class="hd-input-text-placeholder">English</div>
          </div>
          <br />

          <div class="hd-input-text-container">
            <input class="hd-input-text" type="text" formControlName="turkish" />
            <div class="hd-input-text-placeholder">Turkish</div>
          </div>
          <br />

          <div class="hd-button-container" style="float: right">
            <button type="button" class="hd-button-colorless" (click)="onClear()">
              Temizle
            </button>
            <button type="submit" class="hd-button-colored">
              Kaydet
            </button>
          </div>
          <br />
        </form>
      </div>
    </div>
  </div>

  <div class="col-lg-7 col-md-6 col-sm-6 block">
    <div class="hd-form-container">
      <h1>Kelime Listesi</h1>
      <p>Bu listede sistemdeki tüm kelimeler yer almaktadır. Toplam : {{count}}</p>
      <div class="hd-form-container-in">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">English</th>
              <th scope="col">Turkish</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let word of words | paginate: {id: 'listing_pagination', itemsPerPage: 10, currentPage: currentPage, totalItems: count }">
              <th scope="row">{{ word.english }}</th>
              <td>{{ word.turkish }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <pagination-controls id="listing_pagination" directionLinks:1 (pageChange)="
      getPage(
        ($event - 1) * 10,
        10,
        $event
      )
    "></pagination-controls>
    </div>


  </div>

  <div class="col-lg-12 col-md-12 col-sm-12 block">
    <div class="hd-form-container">
      <h1>Proje Hikayesi</h1>
      <div class="hd-form-container-in" style="padding-top:20px;">
        <p>
          Askere giderken boş vakitlerim de kitap okuyacağıma ve her gün 5 ingilizce kelime ezberliyeceğime dair plan yaptım.
          
          Şırnak Silopi'de  nizamiyede giriş ve çıkışları 
          bilgisayardaki programa giriş yaptığım bir görevim vardı. Yazılım mühendisiyim diye bana 
          bu görevi vermişlerdi :) 
                </p>
        <p>
          Kelime ezberleme planımı gerçekleştirmek için android telefonumdan koğuşta gizlice günlük 5 kelimeyi ajandaya not ediyordum ve görev yerime geçtiğimde, 
          nizamiye sakin zamanlarında ezberlemeye çalışıyordum.

          Gündüz görev yaptığımda
          çok yoğun oluyordu fakat yaklaşık 2.5 ay gece görev yaptım ve nadiren askeri
          araç giriş çıkışları oluyordu çoğu zaman bilgisayar başında hiç bir şey yapmadan 
          oturuyordum. 
      </p>
        <p>
          Ve aklıma bir fikir geldi :) Bilgisayardan kelime ezberlememi kolaylaştırması için bir program yazabilir miydim?
          Önümdeki bilgisayar win 7'idi, internet bağlantısı yoktu, sadece İnternet Explorer ve notpad vardı. Kafamda kurguladım notpad ile html js kullanarak
          excell e kaydettiğim ingilizce kelimeleri sırayla bana soracak ve seçenekler arasından seçeceğim bir web uygulaması yazabilirdim.
          Gizli gizli kodlamaya başladım. Tasarımı bitirdim fakat bir sorun vardı js ile excellden datayı nasıl çekecektim. Bilgisayarda internette yoktu araştıramıyordum.
      </p>
        <p>
          Koğuşta hergün yatmadan önce gizlice telefonumdan araştırma yapıyordum ve bulduğum kodları görev yerimde bilgisayara geçtiğimde bakmak üzere ajandama yazıyorudum. Fakat çok yavaş ilerliyordu. 
          Başka bir problem daha çıktı. O sıralarda bir üst devrelerin askerliğin pandemiden dolayı uzatıldığı haberi yayıldı. Tüm ülkede askerliği uzayan bazı askerler twitter da askeriye içinden 
          videolar, fotoğraflar, cumhurbaşkanına hakaret içeren paylaşımlar yapmışlardı. Cumhuriyet Başsavcılığı'ndan birliklere telefon araması yapılması ve komutanların el koyması 
          için emir gelmiş. Bizde zaten gizli gizli kısıtlı şekilde kullanabildiğimiz telefonlarımızı kaptırdık. Bu şekilde benim ingilizce kelime uygulaması yapma serüvenimde son bulmuştu.
        </p>
        <p>
          O zaman yapamayıp içimde kalan bu projeyi gerçekleştirmek için yaptığım bir projedir bu.  
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <button class="hd-button" onclick='hdConfirm(null, null,function(){hdAlertSuccess("Awesome!", "")})'> Delete </button>
      <button class="hd-button" onclick='hdAlertInfo()'> İnfo </button>
      <button class="hd-button" onclick='hdAlertWarning()'> Warning </button>
      <button class="hd-button" onclick='hdAlertError()'> Error </button>
      <button class="hd-button" onclick='hdAlertSuccess()'> Success </button> -->